apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: python-app
  namespace: monitoring
  labels:
    release: kube-prometheus-stack
spec:
  namespaceSelector:
    matchNames:
      - application
  selector:
    matchLabels:
      app: python-app
      component: application
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
      scrapeTimeout: 10s
