apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: alertmanager-routing
  namespace: monitoring
spec:
  route:
    groupBy: ["alertname", "namespace", "app"]
    groupWait: 30s
    groupInterval: 5m
    repeatInterval: 4h
    receiver: email-warning   # default fallback

    routes:
      - matchers:
          - name: severity
            value: critical
        receiver: email-critical
        repeatInterval: 1h

      - matchers:
          - name: severity
            value: warning
        receiver: email-warning
