apiVersion: v1
kind: Service
metadata:
  name: postgres-exporter
  namespace: application
  labels:
    app: postgres-exporter
    component: database
spec:
  selector:
    app: postgres-exporter
  ports:
    - name: metrics
      port: 9187
      targetPort: metrics
